.main {
	padding-top: 30px;
}
.main h2 {
	margin-bottom: 20px;
}
.singer-list h4 {
	font-size: 14px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.singer-list h5 {
	font-size: 12px;
	color: #666;
	margin-bottom: 0;
}